fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
pydantic-settings==2.10.1
sqlalchemy==2.0.43
langchain==1.0.0
langgraph==1.0.1
langchain-mistralai==1.1.6
faster-whisper==1.2.0
pyttsx3==2.99
gTTS==2.5.4
edge-tts==6.1.12
pywin32==311; sys_platform == 'win32'


